{{define "getCredentials"}}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Supseg</title>

        <link href="//localhost:8888/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="//localhost:8888/static/css/bootstrap.min.css" rel="stylesheet">
        <script src="//localhost:8888/static/js/bootstrap.min.js"></script>
    </head>
    <body>        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Lista</a>
                    <a class="navbar-brand" href="/credentials">Inserir</a>
                </div>
            </div>
        </nav>

        <div id="main" class="container-fluid" style="margin-top: 50px">
            <div id="top" class="row">
                <div class="col-sm-5">
                    <h2>Inserir nova credencial</h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <form action="/check" method="POST">
                        <div>
                            <h4>Insira seu e-mail e senha usados</h4>

                            <input type="text" name="email" id="email" class="form-control input-sm" placeholder="email" />
                            </br>
                            <input type="text" name="password" id="password" class="form-control input-sm" placeholder="password" />
                            </br>
                            <div class="wrapper">
                                <span class="group-btn">
                                    <input type="submit" value="Inserir" class="btn btn-primary btn-md">
                                </span>
                            </div>
                        </div>
                    </form>            
                </div>
            </div>

        </div>
    </body>
</html>
{{end}}